<div class="container">
    <div *ngIf="(this.studentsFacadeService.loadingStudents$ | async) === false; else spinnerBlock">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>StudentID.</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="dateOfBirth">
          <th mat-header-cell *matHeaderCellDef>DOB</th>
          <td mat-cell *matCellDef="let element">{{element.dateOfBirth}}</td>
      </ng-container>
      
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateToStudentEnrollments(row)"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="no-record-cell" colspan="4">No result found</td>
        </tr>
      </table>
    </div>
    <ng-template #spinnerBlock>
      <div class="overlay-container">
        <mat-spinner class="custom-spinner"></mat-spinner>
      </div>
      </ng-template>
</div>
