/* login.component.css */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .login-full-width {
    width: 100%;
    margin-top: 10px;
  }
  
  button {
    margin-top: 20px;
  }
  